* {
	margin:0;
	padding: 0;
   font-family: 'Open Sans', sans-serif;
}

.home {
	background: url(../images/home.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

.home h1 {
	 background: -webkit-linear-gradient(#F5FFFA,#AFEEEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;

}

.btn {

	background: skyblue;
	border-style: none;
	padding:  10px 30px;
	border-radius: 20px;
	transition: .3s;

	}

.btn:hover{
	padding: 15px 35px;
	color:red;
}


	/*2nd panel*/

 .about{
 	background: 
		linear-gradient(
			rgba(100, 146, 100, 0.85),
			rgba(0, 0, 0, 0.45)
			),
		url(../images/About.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

 }	

 .left {
 	
 	height: 100vh;
 	width: 50vw;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .right {
 	
 	height: 100vh;
 	width: 50vw;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	 }

 .aboutme-dp {
 	height: 180px;
 	border-radius: 60%;
 }
 .aboutme-dp:hover{
 	height: 190px;
 }

 .left p {
 	margin-left: 50px;
 	font-size: 22px;
 	color: white;
 }

#rising-text{
	font-size: 26px;
	font-weight: bolder;
	color: skyblue;
}

#author {
	font-weight: bolder;
}

 .right p {
 	font-size: 22px;
 	color: white;
 }

 /*3rd Panel*/

 .display {
 	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.45),
			rgba(170, 190, 150, 0.75)
			),
		url(../images/display.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

 }

 .display-dp {
 	height: 300px;
 	width: 300px;
 	border-radius: 100%;
 }

 .display h1 {
 	background: -webkit-linear-gradient(#00BFFF,#FFFAF0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
 }


 /*fourth Panel*/

 .gallery {
 	background: url(../images/gallery.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
 }

 .gallery h1 {
 	
 	background: -webkit-linear-gradient(#000080,#00FF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
 }

 .gal {
 	width: 200px;
 	height: 200px;
 	border:3px black solid;
 	transition: .4s;
 }

 .gal:hover {
 	transform: scale(1.3);
 	border:3px white solid;

 }


 /*5th Panel*/


 .contactme{
 	background:url(../images/form.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

 }	

 .left {
 	
 	height: 100vh;
 	width: 50vw;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .left form {

 	height: 50vh;
 	width: 80%;
 	display: block;
 	border-radius: 100%;
 }

 input {
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}


 .right {
 	
 	height: 100vh;
 	width: 50vw;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	 }

 

 .right p {
 	margin-top: 80px;
 	margin-left: 50px;
 	font-size: 22px;
 	color: black;
 }

 h4 {
 	font-size: 20px;

 }




.navbar {
	width: 100vw;
	height: 50px;
	background: green;
	position:sticky;
	top: 0;
	z-index: 10;
	opacity: 0.5;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar > ul {
	display: flex;

}

.navbar > ul > li {
	padding: 50px;
	list-style-type: none;
}
